* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .contact-info {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  i {
    margin-right: 10px;
  }
  
  .fa-phone:before {
    content: "\f095";
  }
  
  .fa-envelope:before {
    content: "\f0e0";
  }
  

  header{


    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    text-decoration: solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    background-color: black;
    color: white; 
    padding: 10px;
    z-index: 100;
    
    

}

h1{
    border: solid 8px white;
    border-radius: 1000px;
    padding: 6px 12px;
    display: inline-block;

}

.contact-info ul{

    position: absolute;
    top: 400px;
    left: 590px;
    color: greenyellow;
    font-size: 50px;
}

nav {
    background-color: #333; 
    height: 50px; 
    display: flex; 
    justify-content: center;
    position: absolute;
    top: 123px;
    left: 570px;
    
  }
  
  nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff; 
    text-decoration: none; 
    font-size: 18px; 
    display: block; 
    padding: 15px 20px; 
    border-radius: 5px; 
  }
  
  nav ul li a:hover {
    background-color: #555; 
  }
  nav{
    position: fixed;
    z-index: 1;
  }
  html {
    background-image: url('123.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1100px;
    background-position: center center;
  }


  

  @keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .contact-info ul{
    animation: rotate 2s linear;
  }

  @media only screen and (max-width: 768px) {
    
    h2 {
      top: 150px;
      font-size: 40px;
    }
    

    .description {
      top: 550px;
    }
    
    
    .banner {
      top: 1000px;
      
    }
    
    
    nav ul li a {
      font-size: 14px;
      
      text-align: left;
    }
    
   
    nav {
      top: 80px;
      left: 50px;
    }
  }
  
  
  @media only screen and (max-width: 480px) {
    
    h2 {
      top: 150px;
      font-size: 30px;
    }
    
    
    .description {
      top: 400px;
    }
    
    
    .banner {
        
      top: 900px;
      
    }
    
    
    nav ul li a {
      font-size: 12px;
    }
    
    
    nav {
      top: 60px;
      left: 20px;
    }
  }
  
  .banner img {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }
  
  @media only screen and (max-width: 768px) {
    .banner {
      left: 0;
      top: 900px;
    }
    
    .banner img {
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .banner {
      top: 1100px;
    }
  }
